.navbar-link:hover
{
    border-bottom: 2px solid rgb(122, 202, 122);
    color: rgb(122, 202, 122);
    display: block;
}

.navbar-logo
{
    height: 50px;

    filter: brightness(0);
    margin: 0px;
    padding: 0px;
}

.drop-down:hover
{
    cursor: pointer;
}

.drop-down
{
    font-size: 18px;

    line-break: anywhere;

    width: auto;
}

.drop-down-menu{
    display: none;

    position: relative;
}

#navbar-div-input-Employee{
    display: none;
}
#navbar-div-input-EmployeeType{
    display: none;
}

.navbar-link{
    width: auto;

    transition: 60ms;

    font-size: 18px;

    line-break: anywhere;

    z-index: 6;
}


#navbar-div-input-Employee:checked ~ .drop-down-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: auto;

    gap: 5px;

    background-color: white;
}

#navbar-div-input-Employee:checked ~ .drop-down{
    display: flex;
}

#navbar-div-input-EmployeeType:checked ~ .drop-down-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: auto;

    gap: 5px;

    background-color: white;
}



#navbar-div-input-EmployeeType:checked ~ .drop-down{
    display: flex;
}


@media only screen and (min-width: 758px) {    
    .navbar-div{
        width: auto;
        display: inline-block;
    }
    
    #navbar-div-input-Employee:checked ~ .drop-down-menu{
        padding: 12px;

        position: absolute;

        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        border: 2px solid black;
    }
    #navbar-div-input-EmployeeType:checked ~ .drop-down-menu{
        padding: 12px;

        position: absolute;

        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        border: 2px solid black;
    }


}