#box
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 12px;

    padding: 12px;
    width: 24%;

    background-color: rgb(255, 255, 255);
    border-radius: 12px;

    outline: 2px solid black;
}

.button
{
    border: 1px solid black;
    border-radius: 4px;

    padding: 6px;

    width: 40%;

    transition: 160ms;

    margin-bottom: 16px;
}

.button:hover
{
    transform: scale(1.05);

    background-color: rgb(232, 255, 255);
}