.screen
{
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    border-radius: 13px;

    outline: 1px solid black;
    padding: 12px;

    margin: 0 auto;

    width: 55%;
}

.form-hr
{
    width: 25%;

    border-bottom: 2px solid black;

    margin: 0 auto;

    margin-bottom: 30px;
}