#form
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 12px;

    padding: 12px;
    margin: 0 auto;
    width: 65%;

    background-color: rgb(255, 255, 255);
    border-radius: 12px;

    outline: 2px solid black;
}

label
{
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.buttons
{
    display: flex;
    flex-direction: column;
    gap: 26px;
    
    align-items: center;
    justify-content: space-between;
    width: auto;
}

button
{
    font-size: 16px;

    width: auto;

    background-color: rgb(255, 255, 255);
    
    border: 1px solid black;
    box-shadow: 2px 2px 1px black;

    border-radius: 4px;

    cursor: pointer;

    transition: 160ms;
}

hr
{
    width: 90%;
    text-decoration: dashed;
}

.field
{
    width: 80%;
    text-align: center;
    border: none;

    outline: none;
    border-bottom: 1px solid black;
}

.field[type=number]::-webkit-inner-spin-button,
.field[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.check
{
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    button:hover
    {
        transform: scale(1.1);
    }

    .buttons
    {
        display: flex;
        flex-direction: row;
        gap: 70px;
    }    

    label
    {
        flex-direction: row;
        gap: 12px;

        width: 55%;
    }    

    #form
    {
        width: 45%;
    }

    .field
    {
        width: 60%;
        text-align: left;
    }    
}